{
  "email": "<email address> // needed for login",
  "password": "<account password> // needed for login",
  "secret": "retrieved by .login, needed for everything else",
  "device_id": "retrievede by .register, needed for everything else"
}
